.header-main {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.header-main__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  background-color: transparent;
}

.header-main__logo {
  margin-top: 11px;
  display: flex;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-main__logo-image {
  width: 33px;
  height: 38px;
}

.header-main__title {
  margin-top: 11px;
  margin-left: 56px;
}

@media (min-width: $width__tablet) {
  .header-main__wrapper {
    padding-bottom: 17px;
    flex-wrap: nowrap;
  }

  .header-main__logo {
    display: flex;
    margin-top: 24px;
  }

  .header-main__logo-image {
    width: 173px;
    height: 58px;
  }

  .header-main__title {
    margin: 0;
    margin-top: 0;
    padding: 0;
    padding-left: 0;
    word-spacing: -1px;
    box-sizing: border-box;
    display: none;
  }
}

@media (min-width: $width__desktop) {
  .header-main:not(.header-main--light) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: 100%;
      background-color: rgb(101, 169, 60);
      z-index: -1;
    }
  }

  .header-main__logo {
    margin-top: 53px;
  }

  .header-main__logo-image {
    width: 202px;
    height: 59.5px;
  }

  .header-main__title {
    display: none;
  }
}
