.product {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family__text;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  border-collapse: collapse;
  border: 0;
  color: $font-color__text;
}

.product td:nth-of-type(2) {
  text-align: right;
}

@media (min-width: $width__tablet) {
  .product {
    margin-top: 20px;
    margin-bottom: 34px;
    width: 100% * 249 / 324;
    font-size: 16px;
    line-height: 16px;
  }

  .product tr {
    height: 30px;
    border-bottom: 1px solid rgb(205, 205, 205);
  }
}

@media (min-width: $width__desktop) {
  .product {
    margin-top: 21px;
    margin-bottom: 33px;
    width: 169px;
  }
}
