.program-selection__wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 168px;
  box-sizing: border-box;
  background-color: rgb(101, 169, 60);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.program-selection__title {
  margin: 0;
  padding: 0;
  font-family: $font-family__headings;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
}

.program-selection__description {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  font-family: $font-family__headings;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.program-selection__img {
  position: absolute;
  bottom: -132px;
  margin-left: -140px;
  left: 50%;
  width: 280px;
  height: 271px;
}

@media (min-width: $width__tablet) {
  .program-selection {
    padding-bottom: 507px;
  }

  .program-selection__wrapper {
    padding-top: 7px;
    padding-bottom: 48px;
    background-color: transparent;
    background-image: none;
    border: 0;
  }

  .program-selection__wrapper > .container {
    padding-left: 117px;
    padding-right: 118px;
  }

  .program-selection__title {
    padding: 30px 0 0 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $font-color__heading;
  }

  .program-selection__description {
    margin-top: 41px;
    margin-left: 1px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $font-color__heading;
  }

  .program-selection__pic-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: $width__tablet;
    box-sizing: border-box;
  }

  .program-selection__img {
    top: 20px;
    left: 22%;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: $width__tablet) and (max-width: 1299px) {
  .program-selection + .container {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
}

@media (min-width: $width__desktop) {
  .program-selection {
    position: relative;
    padding-bottom: 188px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-position: 112% 0;

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 45%;
      background-color: rgb(101, 169, 60);
      z-index: -1;
    }
  }

  .program-selection__wrapper {
    margin-top: -134px;
    padding-top: 192px;
    padding-bottom: 48px;
    pointer-events: none;
    background-color: transparent;
  }

  .program-selection__wrapper > .container {
    padding-left: 120px;
    padding-right: 730px;
  }

  .program-selection__description {
    margin-left: 0;
  }

  .program-selection__pic-wrapper {
    position: static;
  }

  .program-selection__img {
    top: 142px;
    left: calc(48.5% - 1px);
    width: 552px;
    height: 499px;
    z-index: 0;
  }
}
