$width__mobile: 320px;
$padding__mobile: 20px;
$width__tablet: 768px;
$padding__tablet: 30px;
$width__desktop: 1300px;
$padding__desktop: 40px;
$width__mobile-only: 767px;
$font-family__headings: "Oswald", "Arial", sans-serif;
$font-color__heading: rgb(17, 17, 17);
$font-family__text: "Arial", sans-serif;
$font-color__text: rgb(68, 68, 68);
$background__main: rgb(255, 255, 255);
$background__aux: rgb(242, 242, 242);
$background__elements: rgb(104, 183, 56);
$retina__dpi: 144dpi;
$retina__dppx: 1.5dppx;
